#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp J  &kp G  &kp M  &kp P           &kp V    &kp TAB        &kp PERIOD  &kp COMMA  &kp SINGLE_QUOTE  &kp SLASH
&kp R  &kp S  &kp N  &kp D           &kp B    &kp ENTER      &kp A       &kp E      &kp I             &kp M
&kp X  &kp F  &kp L  &kp C           &kp W    &kp BACKSPACE  &kp U       &kp O      &kp Y             &kp K
                     &sk LEFT_SHIFT  &kp T    &kp SPACE      &sl 1
            >;
        };

        layer_1 {
            bindings = <
&kp Z              &kp Q      &kp PLUS        &kp MINUS              &kp AT              &kp DLLR    &kp NUMBER_2  &kp NUMBER_4  &kp NUMBER_6  &kp NUMBER_8
&kp LEFT_BRACKET   &kp EQUAL  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS   &kp SEMICOLON       &kp AMPS    &kp NUMBER_0  &kp NUMBER_1  &kp UNDER     &kp EXCL
&kp RIGHT_BRACKET  &kp COLON  &kp RBRC        &kp RIGHT_PARENTHESIS  &kp HASH            &kp PIPE    &kp NUMBER_3  &kp NUMBER_5  &kp NUMBER_7  &kp NUMBER_9
                                              &sk LEFT_COMMAND       &sk LEFT_CONTROL    &kp ESCAPE  &sl 2
            >;
        };

        layer_2 {
            bindings = <
&none      &none        &none          &none      &none    &none  &none  &none  &none  &none
&kp GRAVE  &kp PERCENT  &kp BACKSLASH  &kp CARET  &none    &none  &none  &none  &none  &none
&none      &none        &none          &none      &none    &none  &none  &none  &none  &none
                                       &none      &none    &none  &to 0
            >;
        };
    };
};
